# Reading Avro Blobs Into Parquet Data Sets

### Dependency Importing and Environment Variable Retrieval

In [1]:
import os
import string
import json
import pandas as pd
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import udf
from pyspark.sql.types import TimestampType, StringType
from pyspark.storagelevel import StorageLevel
from azure.storage.table import TableService

STORAGE_ACCOUNT_SUFFIX = 'core.windows.net'
STORAGE_ACCOUNT_NAME = os.getenv('TELEMETRY_STORAGE_ACCOUNT_NAME')
STORAGE_ACCOUNT_KEY = os.getenv('TELEMETRY_STORAGE_ACCOUNT_KEY')
TELEMETRY_CONTAINER_NAME = os.getenv('TELEMETRY_CONTAINER_NAME')
LOG_TABLE_NAME = 'logs'
LOG_TABLE_NAME = os.getenv('LOG_TABLE_NAME') #TODO need to add this to ENV Variables

#### Development Variables

In [2]:
#For development purposes only until ENV Variables get set
STORAGE_ACCOUNT_SUFFIX = 'core.windows.net'
STORAGE_ACCOUNT_NAME = "stgmosxhnn5t3nyc"
STORAGE_ACCOUNT_KEY = "fa0TlK+KYvXfLXGqfqVATbNF4xB5o64O4i7PjmlGMSTXCLMIOh/9Sc4ScpJ2V0vUzQ2TlK4wVu0BbA9i3HZGaw=="
TELEMETRY_CONTAINER_NAME = "telemetry"
LOG_TABLE_NAME = 'logs'

### Setting up Drop Folder

In [3]:
from pathlib import Path
data_dir = str(Path.home()) + '/data'

#TODO: Convert data_dir into env variable
% rm -rf $data_dir
% mkdir $data_dir $data_dir/logs

### Retrieving telemetry data (as spark dataframe)

In [4]:
wasbTelemetryUrl = "wasb://{0}@{1}.blob.{2}/*/*/*/*/*/*/*".format(TELEMETRY_CONTAINER_NAME, 
                                                                  STORAGE_ACCOUNT_NAME, 
                                                                  STORAGE_ACCOUNT_SUFFIX)

sc = SparkSession.builder.getOrCreate()
hc = sc._jsc.hadoopConfiguration()
hc.set("avro.mapred.ignore.inputs.without.extension", "false")
if STORAGE_ACCOUNT_KEY:
     hc.set("fs.azure.account.key.{}.blob.core.windows.net".format(STORAGE_ACCOUNT_NAME), STORAGE_ACCOUNT_KEY)
hc.set("fs.azure.account.key.{}.blob.core.windows.net"
    .format(STORAGE_ACCOUNT_NAME), STORAGE_ACCOUNT_KEY)
sql = SQLContext.getOrCreate(sc)
avroblob = sql.read.format("com.databricks.spark.avro").load(wasbTelemetryUrl)
avroblob.show()

+--------------------+----------+--------------------+--------------------+
|     EnqueuedTimeUtc|Properties|    SystemProperties|                Body|
+--------------------+----------+--------------------+--------------------+
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
|2018-06-26T00:45:...|     Map()|Map(connectionAut...|[7B 22 6D 61 63 6...|
+--------------------+----------+--------------------+--------------------+
only showing top 20 rows

### Convert byteformatted "body" of raw blob data into JSON, then explode result into new Pyspark DataFrame

In [5]:
#Convert byteformat to string format in pyspark dataframe
from json import loads as Loads
column = avroblob['Body']
string_udf = udf(lambda x: x.decode("utf-8"))
avroblob=avroblob.withColumn("BodyString", string_udf(column))
avroblob.printSchema()

#Convert "body" into new DataFrame
telemetry_df = sql.read.json(avroblob.select("BodyString").rdd.map(lambda r: r.BodyString))
telemetry_df.show()

root
 |-- EnqueuedTimeUtc: string (nullable = true)
 |-- Properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- SystemProperties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- Body: binary (nullable = true)
 |-- BodyString: string (nullable = true)

+----------------+-------------------+-----------+--------+-------+-------------+-----------+--------------------+---------+
|ambient_pressure|ambient_temperature|  machineID|pressure|  speed|speed_desired|temperature|           timestamp|vibration|
+----------------+-------------------+-----------+--------+-------+-------------+-----------+--------------------+---------+
|          100.96|              19.95|Machine-003| 1448.84| 1078.2|         1000|     135.51|2018-06-26T00:45:...|     null|
|           101.0|              20.06|Machine-004|  868.15|1030.75|         1000|     151.18|2018-06-26T00:45:...|     null|
|          100.91|              20.05|Machine-003| 1483.13| 1077.5|         1000|     135.62|2018-06-26T00:45:...|     null|
|          101.06|              20.02|Machine-003| 1450.96|1069.84|         1000|     135.47|2018-06-26T00:45:...|     null|
|          100.96|              19.92|Machine-003| 1480.05| 1070.1|         1000|     135.54|2018-06-26T00:45:...|     null|
|          100.92|              20.02|Machine-003| 1473.09|1071.97|         1000|     135.54|2018-06-26T00:45:...|     null|
|          101.08|              20.09|Machine-003| 1425.59|1068.51|         1000|     135.59|2018-06-26T00:45:...|     null|
|          101.07|              20.04|Machine-003| 1485.35|1069.83|         1000|     135.53|2018-06-26T00:45:...|     null|
|          101.02|               20.1|Machine-003| 1450.46|1076.48|         1000|     135.58|2018-06-26T00:45:...|     null|
|          101.09|              19.95|Machine-003| 1448.98|1076.46|         1000|     135.49|2018-06-26T00:45:...|     null|
|          100.97|               20.1|Machine-004|  918.73|1044.85|         1000|     151.27|2018-06-26T00:45:...|     null|
|          101.04|               20.0|Machine-003| 1474.24|1070.19|         1000|     135.59|2018-06-26T00:45:...|     null|
|          100.98|              20.02|Machine-003|  1464.3|1076.91|         1000|      135.6|2018-06-26T00:45:...|     null|
|           100.9|              20.07|Machine-003| 1474.43|1070.61|         1000|     135.44|2018-06-26T00:45:...|     null|
|          101.09|              20.05|Machine-003| 1450.21|1069.69|         1000|     135.65|2018-06-26T00:45:...|     null|
|          100.94|              19.94|Machine-003| 1447.88|1068.97|         1000|     135.65|2018-06-26T00:45:...|     null|
|          100.98|              20.06|Machine-003| 1462.75|1076.68|         1000|     135.54|2018-06-26T00:45:...|     null|
|          101.05|              19.97|Machine-003| 1462.76|1072.18|         1000|     135.62|2018-06-26T00:45:...|     null|
|          100.98|              20.06|Machine-004|  952.45| 1053.9|         1000|     151.31|2018-06-26T00:45:...|     null|
|          100.97|              20.09|Machine-003| 1476.37| 1075.0|         1000|     135.52|2018-06-26T00:45:...|     null|
+----------------+-------------------+-----------+--------+-------+-------------+-----------+--------------------+---------+
only showing top 20 rows

In [6]:
#columns to retain: timestamp, ambient_pressure, ambient_temperature machineID, pressure, speed, 
#                   speed_desired, temperature
subsetted_df = telemetry_df.select(["timestamp", "ambient_pressure","ambient_temperature","machineID","pressure","speed","speed_desired","temperature"])

In [7]:
#modify timestamp format
import datetime
e = '%Y-%m-%dT%H:%M:%S.%f'
timestamp_udf = udf(lambda date: datetime.datetime.strptime(date, e), TimestampType())
reformatted_time_df = subsetted_df.withColumn("timestamp", timestamp_udf(subsetted_df["timestamp"]))

reformatted_time_df.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- ambient_pressure: double (nullable = true)
 |-- ambient_temperature: double (nullable = true)
 |-- machineID: string (nullable = true)
 |-- pressure: double (nullable = true)
 |-- speed: double (nullable = true)
 |-- speed_desired: long (nullable = true)
 |-- temperature: double (nullable = true)

### Write dataframe to Parquet in system storage

In [8]:
reformatted_time_df.write.parquet(data_dir+"/telemetry", mode="overwrite")

## Get Logs

In [9]:
#table retrieval
table_service = TableService(account_name=STORAGE_ACCOUNT_NAME, account_key=STORAGE_ACCOUNT_KEY)
tblob = table_service.query_entities(LOG_TABLE_NAME)

### Process log table data into Pandas DataFrame

In [10]:
attributes = list()
for row in tblob:
    if (len(attributes) == 0):
        for attribute in row:
            attributes.append(attribute)
    break
log_df = pd.DataFrame(columns=attributes)
for row in tblob:
    if (row["Level"] != "DEBUG"):
        row_dict = {}    
        for attribute in row:
            if (attribute != "Timestamp"):
                row_dict[attribute] = row[attribute]
            else:
                newtime = row[attribute].replace(tzinfo=None)
                timeitem = pd.Timestamp(newtime, tz=None)
                row_dict[attribute] = timeitem
        log_df = log_df.append(row_dict, ignore_index=True)
log_df.head()

,Code,PartitionKey,Level,etag,Message,RowKey,Timestamp,_Driver
0,NaN,Machine-000,INFO,"W/""datetime'2018-06-27T01%3A48%3A27.276968Z'""",Simulation started.,2ee434dc37e846919721511323c93153,2018-06-27 01:48:27.276968,2155f98b-1e3b-495a-b5b9-451cb87c0f1d
1,NaN,Machine-000,INFO,"W/""datetime'2018-06-27T01%3A58%3A39.0637119Z'""",Simulation started.,4ca50e21e49a4fc7883bfbb557482e98,2018-06-27 01:58:39.063711,1ab7eae1-fb35-419c-9485-b644280a2a23
2,NaN,Machine-000,INFO,"W/""datetime'2018-06-27T03%3A28%3A41.3005356Z'""",Simulation started.,5768022591c44433893532a1fc0ea075,2018-06-27 03:28:41.300535,3fe41f9e-9ba0-4b9d-b072-fc4364f256f3
3,NaN,Machine-000,INFO,"W/""datetime'2018-06-27T04%3A02%3A15.5696863Z'""",Simulation started.,585d6262305240b5987eb235845e9dad,2018-06-27 04:02:15.569686,7d5806ca-5e02-498a-a599-fd296b70bac6
4,NaN,Machine-000,INFO,"W/""datetime'2018-06-27T03%3A50%3A16.5535432Z'""",Simulation started.,5b692f03bc214d128905564f1fd9f2a2,2018-06-27 03:50:16.553543,dbaa3b25-8cc1-4c90-b509-f751277a26d1

### Number of Run-To-Failure Sequences

In [11]:
log_df = log_df[log_df.Message != 'failure']

In [12]:
message_counts = log_df['Message'].value_counts()
if ('failure' in message_counts):
    print("Number of Run-to-Failures:", message_counts['failure'])
else:
    print("WARNING: Run to failure count is 0")

WARNING: Run to failure count is 0

### Select necessary attributes

In [13]:
log_df = log_df[["Timestamp", "Code", "Level", "PartitionKey"]]
log_df.columns = ["timestamp", "code","level","machineID"]
log_df.index = log_df['timestamp']
del log_df['timestamp']
log_df.head()

                           code level    machineID
timestamp
2018-06-27 01:48:27.276968  NaN  INFO  Machine-000
2018-06-27 01:58:39.063711  NaN  INFO  Machine-000
2018-06-27 03:28:41.300535  NaN  INFO  Machine-000
2018-06-27 04:02:15.569686  NaN  INFO  Machine-000
2018-06-27 03:50:16.553543  NaN  INFO  Machine-000

### Write logs to system storage

In [14]:
log_df.to_parquet(data_dir+"/logs/logs.parquet", engine='fastparquet', times='int96')